<!DOCTYPE html>
<html>
<head>
  <title>SkeletonDance</title>
  <%= stylesheet_link_tag    "skeleton_dance/application", media: "all" %>
  <%= javascript_include_tag "skeleton_dance/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
